h3{
    background-color: chartreuse;
    color: crimson;
    font-family: 'Lucida Sans';
}
p{
    color: red;
    font-size: 30px;
    font-family: Georgia;
}


.demo{
    background-color: darkgrey;
    width: 100%;
    height: 200px;
}
.mubi{
    border: 4px solid rgb(5, 8, 0);

}


#link1{
    background-color: black;
    font-size: 40px;
}
#link1:hover{
    background-color: aqua;
    font-size: 30px;
}